### Importação dos dados

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [7]:
vendas_por_loja = pd.DataFrame({
    'Lojas': ['Loja 1','Loja 2','Loja 3','Loja 4'],
    'Vendas': [
        loja["Preço"].sum(),
        loja2["Preço"].sum(),
        loja3["Preço"].sum(),
        loja4["Preço"].sum()
    ]
})
# Formatando os valores com separador de milhar e vírgula como separador decimal
vendas_por_loja['Vendas'] = vendas_por_loja['Vendas'].apply(lambda x: f"{x:,.2f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [16]:
vendas_por_loja.sort_values(by='Vendas', ascending=False)

    Lojas        Vendas
0  Loja 1  1.534.509,12
1  Loja 2  1.488.459,06
2  Loja 3  1.464.025,03
3  Loja 4  1.384.497,58

# 2. Vendas por Categoria

In [9]:
# Agrupando as vendas por categoria de produto em cada loja
categoria_loja1 = loja.groupby('Categoria do Produto')['Preço'].sum()
categoria_loja2 = loja2.groupby('Categoria do Produto')['Preço'].sum()
categoria_loja3 = loja3.groupby('Categoria do Produto')['Preço'].sum()
categoria_loja4 = loja4.groupby('Categoria do Produto')['Preço'].sum()

# Juntando os dados em um único DataFrame
vendas_categoria = pd.DataFrame({
    'Loja 1': categoria_loja1,
    'Loja 2': categoria_loja2,
    'Loja 3': categoria_loja3,
    'Loja 4': categoria_loja4
})

# Substituindo NaNs por 0
vendas_categoria.fillna(0, inplace=True)

# Somando as vendas totais por categoria
vendas_categoria['Total'] = vendas_categoria.sum(axis=1)

In [17]:
# Exibindo a tabela final
vendas_categoria.sort_values(by='Total', ascending=False)

                          Loja 1     Loja 2     Loja 3     Loja 4       Total
Categoria do Produto
eletronicos            572659.23  547773.71  547699.92  545966.86  2214099.72
eletrodomesticos       484913.36  464758.13  438984.89  377680.65  1766337.03
moveis                 250178.11  235234.68  268095.56  256705.65  1010214.00
instrumentos musicais  121731.69  139987.03  103174.45  100136.50   465029.67
esporte e lazer         52387.55   46326.09   47456.10   44465.65   190635.39
brinquedos              23993.78   21262.21   25869.20   27015.67    98140.86
utilidades domesticas   16931.48   19662.86   20080.21   20098.83    76773.38
livros                  11713.92   13454.35   12664.70   12427.77    50260.74

# 3. Média de Avaliação das Lojas

In [18]:
media_avaliacao_por_loja = pd.DataFrame({
    'Lojas': ['Loja 1','Loja 2','Loja 3','Loja 4'],
    'Media Avalc. Compra': [
        loja["Avaliação da compra"].mean(),
        loja2["Avaliação da compra"].mean(),
        loja3["Avaliação da compra"].mean(),
        loja4["Avaliação da compra"].mean()
    ]
})
media_avaliacao_por_loja.sort_values(by='Media Avalc. Compra', ascending=False).round(2)

    Lojas  Media Avalc. Compra
2  Loja 3                 4.05
1  Loja 2                 4.04
3  Loja 4                 4.00
0  Loja 1                 3.98

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja